<div class="card">
    <img src="">
    <div class="socials">
        <div class="views">
            <mat-icon md-18>visibility</mat-icon> 1000
        </div>
        <div class="like">
            <mat-icon md-18>thumb_up_at</mat-icon> 680
        </div>
        <div class="dislike">
            <mat-icon md-18>thumb_down_at</mat-icon> 320
        </div>
        <div class="comments">
            <mat-icon md-18>comments</mat-icon> 250
        </div>
    </div>
    <p>Podcast name</p>
    <button mat-raised-button color="primary">More...</button>
</div>
