<div class="socials">
    <div class="views">
        <mat-icon md-18>visibility</mat-icon> <span>{{ item.statistics.viewCount }}</span>
    </div>
    <div class="like">
        <mat-icon md-18>thumb_up_at</mat-icon> <span>{{ item.statistics.likeCount }}</span>
    </div>
    <div class="dislike">
        <mat-icon md-18>thumb_down_at</mat-icon> <span>{{ item.statistics.dislikeCount }}</span>
    </div>
    <div class="comments">
        <mat-icon md-18>comments</mat-icon> <span>{{ item.statistics.commentCount }}</span>
    </div>
</div>
